@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Isometra&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
body{
 font-family: "Isometra", serif;
 background-color: rgb(161, 121, 121);
 background-image: url("icons/background.jpg");
 opacity: 0.91;
}